* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Oswald', sans-serif;
}
.big-text {
    color: black;
    font-size: 10pt;
    font-weight: 700;
}
.spacer {
    height: 2px;
    background-color: red;
}

.two-box {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.center-dis {
    align-self: center;
    color: black;
    font-size: 15pt;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.card-body{
    text-align: center;
}
@media (max-width: 576px) {
    .center-caption{
        top: 5%;
    }
    .big-text{
        font-size: 20pt;
    }
    .center-dis{
        font-size: 12pt;
        text-align: center;
    }
    .navbar-brand{
        display: absolute;
    }
    .big-text{
        margin-top: 50px;
        font-size: 10pt;
    }
    .container-fluid{
        font-size: 10pt;
    }
}